body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #092c69, #650969);
    margin: 0;
    font-family: Arial, sans-serif;
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.qr-container img {
    max-width: 200px;
    height: auto;
}
